html
  head
    title server2
  body
    h1 Server2
    if posted
      p Posted!
    h2 Cookie
    p= cookie
    h2 Get link
    p
      a(href=server1) Server1
    p
      a(href="/") Server2
    h2 Post
    h4 Post to server1
    form(method="POST" action=server1)
      input(type="text")
      input(type="submit")
    h4 Post to server2
    form(method="POST" action="/")
      input(type="text")
      input(type="submit")
